/* .welcome-container {
    background-image: url('../assets/your-background-image.jpg'); Adjust path as needed
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding-top: 20px;
  } */
  
  .category-card {
    cursor: pointer;
    transition: 0.3s;
    color: rgb(16, 17, 17);
    background-color: rgb(108, 185, 189);
  }
  
  .category-card:hover {
    background-color: #dadbd1b3;
  }
  .welcome-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1;
  }
  
  footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
  }
  